
{% extends 'base.html.twig' %}



{% block body %}

    <h1>Administration</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul>
                    <li><a href="{{ path('create') }}">Créer un billet</a></li>
                    <li><a href="{{ path('listpostsbackend') }}">Lister les billets pour édition ou suppression</a></li>
                    <li><a href="{{ path('moderate') }}">modérer les commentaires</a></li>

                </ul>
            </div>
            <div class="col-sm">
                <p>commmentaires à modérer</p>
            </div>

        </div>
    </div>

{% endblock %}