
{% extends 'base.html.twig' %}



{% block body %}

    <h1>Bienvenue dans ce blog !</h1>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quidem, nam ea accusantium porro natus sed blanditiis minima error iusto suscipit incidunt dolorem expedita deserunt eum at neque dolorum fuga dolore praesentium voluptatum vitae totam? Atque enim cum recusandae quo?</p>  

{% endblock %}